<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
</head>

<body>
    <h2>
        Welcome, <%= username %>! <!-- 'username' is injected by the server.js -->
    </h2>

    <p>
        You are <%= age %> years old. <!-- 'age' is injected by the server.js -->
    </p>
</body>

</html>