@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

body {
    background-color: rgb(19, 19, 19);
}

.navbar {
    background-color: rgb(19, 19, 19);
    padding: 12px 0;
    height: 70px;
}

ul {
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 13px;
    padding-right: 40px;
    gap: 70px;
    color: rgb(207, 207, 207);
}

img {
    padding-left: 25px;
    float: left;
}

.download {
    border: 2px solid rgb(207, 207, 207);
    padding: 8px 15px;
    font-weight: bold;
}

[height="30px"] {
    padding-left: 20px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
}

h1 b {
    color: white;
    font-weight: bold;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 40px 100px 0 100px;
}

.maclinux {
    color: white;
    background-color: rgb(41, 166, 177);
    height: 40px;
    width: 350px;
    text-align: center;
    padding-top: 15px;
    margin-top: 25px;
    margin-bottom: 50px;
    font-weight: bold;
    border-radius: 5px;
}

[alt="download_section"] {
    padding-left: 200px;
}

h4 {
    color: white;
    font-size: 23px;
}

h4 b {
    color: white;
    font-size: 13px;
}

[title="download_part"] {
    display: flex;
    gap: 30px;
    align-items: center;
}

.languages {
    display: grid;
    grid-template-columns: 325px 325px 300px;
    row-gap: 30px;
    margin-top: 50px;
    justify-content: center;
}

.dboxes {
    background-color: rgb(27, 27, 27);
    height: 200px;
    width: 300px;
    border-radius: 10px;
    color: white;
}

[type="button"] {
    background-color: rgb(15, 125, 15);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
}

[type="button"]:hover {
    background-color: rgb(9, 80, 9);
}

.languages p,b {
    font-weight: bold;
}

.languages b {
    font-size: 25px;
}

.portuguese {
    padding-top: 40px;
    height: 160px;
}

footer h2{
    color:white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    width:500px;
}